#objective{
	color: blue;
	font-family: helvetica;
}
#programmingLang{
	color: #429ef4;
	font-family: helvetica;
}
#workHistory{
	color: blue;
	font-family: helvetica;
}
#education{
	color: #429ef4;
	font-family: helvetica;
}
#other{
	color: blue;
	font-family: helvetica;
}